@page
@model SodaMachineRazorPages.Pages.Soda.IndexModel
@{
}

<div style="height: 600px;">
    <div class="h-100 border rounded-lg">
        <div class="h-25 d-flex flex-column align-content-center">
            <h1 class="text-center">
                @ViewData["Title"]
            </h1>
            <h4 class="text-center">
                User @Model.UserId
            </h4>
        </div>
        <div class="mx-2 h-75 d-flex flex-row">
            <div class="px-4 h-100 d-flex flex-column flex-grow-1 border">
                <div class="py-4 d-flex flex-row align-items-center">
                    <h6>
                        TYPES OF SODA
                    </h6>
                    @foreach (var sodaModel in Model.TypesOfSoda)
                    {
                        <div class="ml-4 p-2 border rounded-circle text-info">@sodaModel.Name</div>
                    }
                </div>
                <h6>
                    SODA PRICE: <span class="text-info">@Model.SodaPrice</span>
                </h6>
                <form asp-page-handler="requestsoda" method="post">
                    <div class="d-flex">
                        <select asp-for="SelectedSodaIndex"
                                asp-items=@Model.SodaSelectList
                                class="d-flex flex-grow-1 rounded-lg">
                            <option>Choose Soda</option>
                        </select>
                        <button class="ml-2 btn btn-primary">Request Soda</button>
                    </div>
                </form>

                @if (@Model.RequestSodaMessage != null)
                {
                    @if (@Model.RequestSodaMessage.Contains("Enjoy"))
                    {
                        <span class="text-success">@Model.RequestSodaMessage</span>

                        @if (@Model.ChangeReturned != 0)
                        {
                            <span class="text-info">Take your change of @Model.ChangeReturned</span>
                        }
                    }
                    else
                    {
                        <span class="text-danger">@Model.RequestSodaMessage</span>
                    }
                }

            </div>
            <div class="ml-2 h-50 d-flex flex-column justify-content-between">
                <h6 class="p-2 border rounded-lg">
                    USER CREDIT: <span class="text-success">@Model.UserCredit</span>
                </h6>
                <form asp-page-handler="depositcoins" method="post">
                    <select asp-for="SelectedCoinValue" 
                            asp-items="@(new SelectList(Model.AcceptedCoinsValue))" 
                            class="w-100 form-control rounded-lg">
                        <option>Choose coin to insert</option>
                    </select>
                    <button class="btn btn-outline-primary btn-block mt-2">Deposit</button>
                </form>
                <form asp-page-handler="ejectmoneyinserted" method="post">
                    <button class="btn btn-outline-primary btn-block">Eject Money Inserted</button>
                </form>
            </div>
        </div>
    </div>
</div>

