@page
@model RazorPagesTodoApplication.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Todo[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todo[0].IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Todo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TodoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TodoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TodoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
